.page {
    background: #2A2C2F;
    color: #fff;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    text-rendering: optimizeLegibility;
    font-family: "inter";
    padding-top: 34px;
}

@media screen and (max-width: 768px) {
    .page{
        padding-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    .page{
        padding-top: 20px;
    }
}